@import "./reset.scss";
@import "./themes/dark.scss";
@import "./themes/normal.scss";
@import "./veriables/global.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}
