.Button {
    cursor: pointer;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.blue {
    background: #0077ff;
    outline: none;
    color: #fff;
    border: none;
    padding: 5px 0;
    border-radius: 8px;
}

.white {
    background: #fff;
    border: 1px solid #979faa;
    padding: 5px 0;
    border-radius: 8px;
}

.green {
    background: #4bb34b;
    border: none;
    padding: 5px 0;
    border-radius: 8px;
    color: #fff;
}

.size-m {
    font-size: var(--font-size-s);
    font-weight: 600;
}

.size-l {
    width: 270px;
}
