.size-l {
    width: 270px;
    padding: 8px 15px;
    font: var(--font-xs);
}

.normal {
    background: #f0f2f5;
    border: 1px solid #979faa;
    border-radius: 8px;
    outline-color: #0077ff;
}
